<div class="pb-2">
    <!-- <p fxLayoutAlign="center" class="pt-1 fw-light h4">Oferta San Juan 2022
        <br>
    </p> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <img src="https://apiproductos.blob.core.windows.net/portadas/sanjuanportada.jpg" class="img-fluid" alt="...">
                <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee095"></a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="textjs text-center fw-light h3 mb-2 px-lg-4">
                Para este
                <span class="fw-normal fs-1 sj">
                    san juan
                </span>
                disfruta de las
                <span class="fs-2 fw-bolder">salchichas</span>
                <span class="sj2 fw-bold fs-1 text-uppercase">
                    bon gusto
                </span>
                <br>
                <span class="fs-4">
                    en todas sus presentaciones
                </span>
            </p>
        </div>
    </div>

