<div class="py-2">
    <p fxLayoutAlign="center" class="pt-1 fw-light h4">Oferta San Juan 2022
        <br>
    </p>
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="textjs text-center fw-light h3 mb-2 px-lg-4">
                Para este
                <span class="fw-normal fs-1 sj">
                    san juan
                </span>
                disfruta de las
                <span class="fs-2 fw-bolder">salchichas</span>
                <span class="sj2 fw-bold fs-1 text-uppercase">
                    bon gusto
                </span>
                <br>
                <span class="fs-4">
                    en todas sus presentaciones
                </span>
            </p>
        </div>
    </div>