<div class="container">
    <div class="row px-md-5 p-0">
        <!-- textos-->
        <div class="col-12 text-center">
            <h2 class="text-info text-uppercase">
                Encuentranos
            </h2>
            <h5 class="text-capitalize">
                Puntos de venta
            </h5>
            <p class="text-muted px-3 fw-light">
                Puedes encontrarnos en los los puntos de venta mas representativos de
                tu ciudad, si quieres encontrar un punto de
                venta más cercano a tu ubicación déjanos un mensaje que te atendemos a la brevedad posible.
            </p>
        </div>
    </div>
</div>