<mat-grid-list cols=1 *ngIf="!producto; else divproducto">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<!-- <ng-template #divproducto>

    <div fxLayout="row wrap" class="bg-danger container" fxLayoutAlign="center" >
        <mat-card class="mat-elevation-z8 col-lg-2 col-5  col-md-3 m-sm-3 m-1 mb-2 animate__animated animate__fadeIn">
            <img mat-card-image src="https://apiproductos.blob.core.windows.net/imagenes/{{producto.cod_Item_PF}}.jpg">
            <mat-card-content>
                <p> {{ producto.producto_Nombre }} </p>
                <h4>Codigo: {{ producto.cod_Item_PF|number: '3.0' }}</h4>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="warn" [routerLink]="['/productos', producto._id]">
                    más detalles
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

</ng-template> -->

<!-- segunda linea -->

<ng-template #divproducto>
<div class="container-fluid">
    <div class="row bg-danger">
        <div class="col-6 bg-warning">
            <mat-card class="col-3 mat-elevation-z8 animate__animated animate__fadeIn">
                <img mat-card-image src="https://apiproductos.blob.core.windows.net/imagenes/{{producto.cod_Item_PF}}.jpg">
                <mat-card-content>
                    <p> {{ producto.producto_Nombre }} </p>
                    <h4>Codigo: {{ producto.cod_Item_PF|number: '3.0' }}</h4>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" [routerLink]="['/productos', producto._id]">
                        más detalles
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

</ng-template>



            <!-- <mat-card-header>
                <mat-card-title> {{ producto.menor_Nuevo| titlecase }} </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        {{ producto.presentacion| titlecase }}
                    </p>
                </mat-card-subtitle>
            </mat-card-header> -->