mat-card {
  margin-top: 20px;
}

mat-card {
  overflow: hidden;
  z-index: 100;
}

mat-card img {
  transition: all 0.3s ease;
  z-index: -20;
}

mat-card:hover img {
  overflow: hidden;
  transform: scale(1.2);

}

button:hover{
  color: #f44336;
  background: #ffffff;
}

mat-card-header p{
  font-size: medium ;
  color:#00776E;
  background-color: whitesmoke;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

