<mat-grid-list cols=1 *ngIf="!producto; else divproducto">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #divproducto>
<mat-card class="mat-elevation-z8 m-0">
    <mat-card-header>
        <mat-card-title> {{ producto.menor_Nuevo| titlecase }} </mat-card-title>
        <mat-card-subtitle> 
            <p>
                {{ producto.presentacion| titlecase }}
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-image src="https://apiproductos.blob.core.windows.net/imagenes/{{producto.cod_Item_PF}}.jpg">
    <mat-card-content>
        <p> {{ producto.producto_Nombre }} </p>
        <h4>Codigo: {{ producto.cod_Item_PF|number: '3.0' }}</h4>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button 
                color="warn"
                [routerLink]="['/productos', producto.cod_Item_PF]">
                más detalles
            </button>
    </mat-card-actions>
</mat-card>
</ng-template>
