<div class="nosotros py-2">
  <app-historia></app-historia>


  <div class="container  my-5 min-vh-50">
    <div class="col-md-8  col-lg-8 col-12 shadow-sm m-sm-1 p-sm-1 m-lg-5 p-lg-5 ">
      <div class="nosotros-info">
        <h2 class="pt-4 fs-1 ">
          Mision
        </h2>
        <p>
          <i class="p-2 fas fa-quote-left"></i>

          Somos una marca Boliviana que produce y comercializa embutidos y
          productos cárnicos, realizados con responsabilidad, calidad, innovación y un gran sabor que
          satisfacen las necesidades de nuestros clientes, cuidando su salud y
          bienestar, bajo normas y estándares de seguridad alimentaria. Contamos con un equipo humano
          competente y capaz con sólidos principios éticos comprometidos con la empresa y orientado al servicio de sus
          consumidores.

          <i class="p-2 fas fa-quote-right"></i>
        </p>
      </div>
    </div>
  </div>
  <div class="container min-vh-50">
    <div class="col-md-8 col-lg-8 col-12 shadow-sm m-sm-1 p-sm-1 m-lg-5 p-lg-5">
      <div class="nosotros-info">
        <h2 class="pt-4 fs-1">
          Vision
        </h2>
        <p>
          <i class="p-2 fas fa-quote-left"></i>
          Ofrecer el mejor sabor de una amplia gama de productos alimenticios.
          <i class="p-2 fas fa-quote-right"></i>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container min-vh-50">
  <div class="col-md-8 col-lg-8 col-12 shadow-sm m-sm-1 p-sm-1 m-lg-5 p-lg-5">
    <div class="nosotros-info">
      <h2 class="pt-4 fs-1">
        Nuestros Valores
      </h2>
     
<mat-list role="list">
  <mat-list-item role="listitem"><p>Respeto</p></mat-list-item>
  <mat-list-item role="listitem"><p>Bienestar</p></mat-list-item>
  <mat-list-item role="listitem"><p>Honestidad</p></mat-list-item>
  <mat-list-item role="listitem"><p>Compromiso</p></mat-list-item>
  <mat-list-item role="listitem"><p>Mejora continua</p></mat-list-item>
  <mat-list-item role="listitem"><p>Trabajo en equipo</p></mat-list-item>
</mat-list>

    </div>
  </div>
</div>


