<div class="nosotros py-2">
<app-historia></app-historia>


  <div class="container min-vh-50">
    <section class="row align-items-lg-center py-lg-5">
      <article class="col-12 col-lg-6 order-lg-1">
        <h2 class="pt-4 fs-1 text-lg-start">
          Mision
        </h2>
        <p class="text-lg-start">
          <i class="p-2 fas fa-quote-left"></i>
          Somos una marca Boliviana que produce y comercializa embutidos y
          productos cárnicos, realizados con responsabilidad, calidad, innovación y un gran sabor que
          satisfacen las necesidades de nuestros clientes, cuidando su salud y
          bienestar, bajo normas y estándares de seguridad alimentaria. Contamos con un equipo humano
          competente y capaz con sólidos principios éticos comprometidos con la empresa y orientado al servicio de sus consumidores.
          <i class="p-2 fas fa-quote-right"></i>
        </p>
      </article>
      <article class="col-12 col-lg-6">
        <img class="img-fluid" src="assets/media/mision.webp" style="border-radius: 15px;">
      </article>
    </section>
  </div>
  <div class="container min-vh-50">
    <section class="row align-items-lg-center py-lg-5">
      <article class="col-12 col-lg-6">
        <h2 class="pt-4 fs-1 text-lg-end text-md-center">
          Vision
        </h2>
        <p class="text-lg-end text-md-center">
          <i class="p-2 fas fa-quote-left"></i>
          Ofrecer el mejor sabor de una amplia gama de productos alimenticios.
          <i class="p-2 fas fa-quote-right"></i>
        </p>
      </article>
      <article class="col-12 col-lg-6">
        <img class="img-fluid" src="assets/media/wen_vision.webp" style="border-radius: 15px;">
      </article>
    </section>
  </div>
</div>
