<h1>Descripcion del producto</h1>

<mat-grid-list cols=1 *ngIf="!producto; else divproducto" >
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divproducto>
    <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px">
        <div fxFlex="50">
            <img class="shadow " mat-card-image src="assets/productos/imagen_ref.jpg">
        </div>
        <div fxFlex="50">
            <h2>{{producto.producto_Nombre| titlecase}}  </h2>

            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Presentacion</th>
                    <td>{{producto.presentacion}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Peso</th>
                    <td>{{producto.peso_aprox}} kg.</td>
                  </tr>
                  <tr>
                    <th scope="row">Codigo de producto</th>
                    <td colspan="2">{{producto.cod_Item_PF}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Grupo</th>
                    <td colspan="2"> {{producto.presentacion}}</td>
                  </tr>
                </tbody>
              </table>
            <br>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
              <br>
            <button
                mat-raised-button
                color="warn"
                (click)="regresar()">
                Regresar
            </button>
            
        </div>



