<h2 class="text-center py-3 fs-3">Descripcion del producto: </h2>

<mat-grid-list cols=1 *ngIf="!producto; else divproducto" >
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #divproducto>
    <div class="container py-lg-3 py-sm-1"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px"
        
        >
        <div fxFlex="50">
            <img class="shadow" mat-card-image src="assets/productos/imagen_ref.jpg">
        </div>
        <div fxFlex="50" class="px-lg-5 px-sm-0">
            <h2>{{producto.producto_Nombre| titlecase}}</h2>

            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Presentacion</th>
                    <td>{{producto.presentacion}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Peso</th>
                    <td>{{producto.peso_aprox}} kg.</td>
                  </tr>
                  <tr>
                    <th scope="row">Codigo de producto</th>
                    <td colspan="2">{{producto.cod_Item_PF}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Grupo</th>
                    <td colspan="2"> {{producto.proceso}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Precio</th>
                    <td colspan="2"> {{producto.precio}}</td>
                  </tr>
                </tbody>
              </table>
            <button
                mat-raised-button
                color="warn"
                (click)="regresar()">
                Regresar
            </button>
            
        </div>
    </div>
</ng-template>
    



