<div class="row mt-3">
    <div class="col">
        <h1 class="text-center">Puntos de venta</h1>
    </div>
</div>

<div class="bg-dark" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let propiedad of propiedades">
            <div class="card">
                <!-- <app-mini-mapa [lngLat]="propiedad.lngLat" class="card-img-top"></app-mini-mapa> -->
                <div class="card-body">
                    <h5 class="card-title"> {{ propiedad.titulo }} </h5>
                    <p class="card-text"> {{ propiedad.descripcion }} </p>
                    <a href="https://www.google.com/maps/place/{{ propiedad.lngLat }}" target="_blank"
                        class="text-reset">ir a la direccion
                    </a>
                </div>
            </div>
    </div>
</div>