
.btn-wp {
    position: fixed;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    bottom: 3rem;
    right: 1.9rem;
    background: #25d366;
    color: #ffffff;
    border-radius: 3.2rem;
    text-align: center;
    font-size: 1.9rem;
    box-shadow: 0rem 0.065rem 0.65rem rgba(0, 0, 0, 0.3);
    z-index: 100;
    text-align: center;
  }
  
  .btn-wp:hover {
    text-decoration: none;
    color: #25d366;
    background: #ffffff;
  }
  
  