<!-- <div class="container-fluid home-prod shadow-sm " fxLayout="column" fxLayoutAlign="center">
  <h2 class="py-4 fs-2" fxLayoutAlign="center">
    Linea de productos
  </h2>

  <h2 fxLayoutAlign="center" class="text-center ">
    Conoce nuestra línea de productos y déjate llevar por esta experiencia, nuestros productos tienen la calidad de las
    marcas líderes a menor precio.
  </h2>
</div> -->

<div class="container-fluid pve bg-light" fxLayout="column" fxLayoutAlign="center">
  <p class="text-center py-4 fs-2 text-u" fxLayoutAlign="center">
    Productos bon gusto
  </p>
  <p class="text-center fw-light h5 py-1 mb-2 px-lg-4">
    Conoce nuestros productos y déjate llevar por esta experiencia, nuestros productos tienen la calidad de las
    marcas líderes a menor precio.
  </p>
</div>

<div class="container">
  <div class="row justify-content-center" >
    <div class="col-lg-6 col-md-6 col-12">
<app-menuprod></app-menuprod>
    </div>
  </div>
</div>




<router-outlet></router-outlet>