<div class="container-fluid bg-dark py-sm-1 " fxLayout="column" fxLayoutAlign="center">
  <h2 class="text-light py-4 fs-1 text-u" fxLayoutAlign="center">
    Linea De Productos
  </h2>
  <!-- <img height="200px" src="assets/imagenes/logobg.svg" alt="Logo bon gusto"> -->
  <h2 fxLayoutAlign="center" class="text-center text-light">
    Conoce nuestra línea de productos y déjate llevar por esta experiencia, nuestros productos tienen la calidad de las
    marcas líderes a menor precio.
  </h2>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div>
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink='listado'>Lista de productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='buscar'>Buscar productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='categoria'>Linea de productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>