<!-- <div class="container-fluid home-prod shadow-sm " fxLayout="column" fxLayoutAlign="center">
  <p class="py-4 fs-2" fxLayoutAlign="center">
    Linea de productos
  </p>

  <p fxLayoutAlign="center" class="text-center ">
    Conoce nuestra línea de productos y déjate llevar por esta experiencia, nuestros productos tienen la calidad de las
    marcas líderes a menor precio.
  </p>
</div> -->

<div class="container-fluid shadow-sm home-producto hero-image-prod " fxLayout="column" fxLayoutAlign="center">
  <div class="container">
    <p class="text-center py-4 fs-1 text-u" fxLayoutAlign="center">
      Linea de productos
    </p>
    <p class="text-center fw-light h4 py-1 mb-2 px-lg-4">
      Conoce nuestra línea de productos y déjate llevar por esta experiencia, nuestros productos tienen la calidad de las
      marcas líderes a menor precio.
    </p>
  </div>
</div>



<nav class="navbar navbar-expand-lg styki p-0 navbar-dark shadow-sm home-prod">
  <div class="container">
    <div class="row ">
      <div class="col ">
        <button mat-stroked-button color="warn" routerLink='listado'>Lista de productos</button>
      </div>
      <div class="col">
        <button mat-stroked-button color="warn" routerLink='buscar'>Buscar producto</button>
      </div>
      <div class="col">
        <button mat-stroked-button color="warn" routerLink='categoria'>Linea de productos</button>
      </div>
      <!-- <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link text-reset" routerLink='listado'>Lista de productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-reset" routerLink='buscar'>Buscar producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-reset" routerLink='categoria'>Linea de productos</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>