
  
    <div class="inicio min-vh-30 pb-2" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
      <div fxFlex="10" class="bg-warning">
        <img class="img-fluid" src="https://placeimg.com/1280/720/any">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reprehenderit, doloribus architecto voluptate
          quisquam dolor laudantium repudiandae quaerat illo, dolores dolore eaque tempora pariatur eum quam minima
          excepturi optio doloremque.</p>
      </div>
      <div fxFlex="45" class="bg-info">
        <h2>hola</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui laborum porro sit possimus fugit
          blanditiis labore explicabo, quod tenetur?</p>

      </div>
      <div fxFlex="45" class="bg-info">
        <img class="img-fluid" src="https://placeimg.com/1280/720/any">
      </div>
    
    </div>
    <div class="inicio min-vh-50 pb-2" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
      <div fxFlex="30" class="bg-warning">
        <img class="img-fluid" src="https://placeimg.com/1280/720/people">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reprehenderit, doloribus architecto voluptate
          quisquam dolor laudantium repudiandae quaerat illo, dolores dolore eaque tempora pariatur eum quam minima
          excepturi optio doloremque.</p>
      </div>
      <div fxFlex="30" class="bg-info">
        <h2>hola</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui laborum porro sit possimus fugit
          blanditiis labore explicabo, quod tenetur?</p>
        <img class="img-fluid" src="https://placeimg.com/1280/720/any">
      </div>
      <div fxFlex="30" class="bg-info">
        <img class="img-fluid" src="https://placeimg.com/1280/720/any">
      </div>
    
    </div>




