<section class="pag-inicio" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.sm="center"
  fxLayoutGap="20px">

  <div fxFlex="20" class="mx-3" fxFlex.sm="30">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Ingredientes para tu pizza</mat-card-title>
      </mat-card-header>
      <img mat-card-image
        src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/salame%2020.png?alt=media&token=d2827bd7-7e98-4505-9178-b94d84ae1fa7"
        alt="Salame">
      <mat-card-content>
        <p>
          ingredientes para emprender con éxito
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20" class="mx-3" fxFlex.sm="30">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Lineas de producto</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/chorizo%20precocido%20ahumado%20de%201%20kg_008_130319.png?alt=media&token=6d64b0ab-fb1f-455f-8765-e9631414a89c"
              alt="Photo of a Shiba Inu">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cocktel.jpg?alt=media&token=998cec9a-0896-4e4e-a9d2-46523fe41926"
              alt="Photo of a Shiba Inu">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/pastel.png?alt=media&token=334febf3-8e1f-4f7d-946a-eb8f5c1f0d80"
              alt="Mortadelas">

          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/salchicha%20bock.png?alt=media&token=c8c5b8f6-94b5-4b64-941d-6857c4bb15f6"
              alt="salchicha">

          </mat-grid-tile>
        </mat-grid-list>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20" class="mx-3" fxFlex.sm="30">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Para tu tienda</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/jamon-pizzero.jpg?alt=media&token=fe5382a8-8505-4b97-bed4-aa0cd77e866b"
              alt="jamon pizzero">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/jamon-jork.png?alt=media&token=3ba475cf-d546-48a6-a08c-fb4f838fdbd8"
              alt="york">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/pastel.png?alt=media&token=334febf3-8e1f-4f7d-946a-eb8f5c1f0d80"
              alt="Mortadelas">

          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/salchicha%20bock.png?alt=media&token=c8c5b8f6-94b5-4b64-941d-6857c4bb15f6"
              alt="salchicha">

          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/mortadela%20cervecero.png?alt=media&token=03c75f07-5710-470e-891c-58b5801d9963"
              alt="jamon york">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/chorizo%20precocido%20ahumado%20de%201%20kg_008_130319.png?alt=media&token=6d64b0ab-fb1f-455f-8765-e9631414a89c"
              alt="Photo of a Shiba Inu">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/chorizo%20precocido%20ahumado%20de%201%20kg_008_130319.png?alt=media&token=6d64b0ab-fb1f-455f-8765-e9631414a89c"
              alt="Photo of a Shiba Inu">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/chorizo%20precocido%20ahumado%20de%201%20kg_008_130319.png?alt=media&token=6d64b0ab-fb1f-455f-8765-e9631414a89c"
              alt="Photo of a Shiba Inu">
          </mat-grid-tile>
          <mat-grid-tile>
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/chorizo%20precocido%20ahumado%20de%201%20kg_008_130319.png?alt=media&token=6d64b0ab-fb1f-455f-8765-e9631414a89c"
              alt="Photo of a Shiba Inu">
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-actions>
          <a href="">mas informacion</a>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="20" class="mx-3" fxFlex.sm="30">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Para tu negocio</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/chorizo%20parrillero.png?alt=media&token=2648b843-519b-4f6d-a811-050dee7f3f98" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Carne selecionada
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<!-- segundo -- -->
<div class="pag-dos min-vh-100 py-2" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
  <div fxFlex="10" class="bg-warning p-">

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reprehenderit, doloribus architecto voluptate
      quisquam dolor laudantium repudiandae quaerat illo, dolores dolore eaque tempora pariatur eum quam minima
      excepturi optio doloremque.</p>
  </div>
  <div fxFlex="45" class="bg-info">
    <h2>hola</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui laborum porro sit possimus fugit
      blanditiis labore explicabo, quod tenetur?</p>

  </div>
  <div fxFlex="45" class="bg-info">
  </div>
</div>

<!-- <div class="inicio min-vh-50 pb-2" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
      <div fxFlex="30" class="bg-warning">
        <img class="img-fluid" src="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reprehenderit, doloribus architecto voluptate
          quisquam dolor laudantium repudiandae quaerat illo, dolores dolore eaque tempora pariatur eum quam minima
          excepturi optio doloremque.</p>
      </div>
      <div fxFlex="30" class="bg-info">
        <h2>hola</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui laborum porro sit possimus fugit
          blanditiis labore explicabo, quod tenetur?</p>
        <img class="img-fluid" src="">
      </div>
      <div fxFlex="30" class="bg-info">
        <img class="img-fluid" src="">
      </div>
    
    </div> -->