  
<section class="pag-inicio py-3">
  
          <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/barras%20banner%20gris.webp?alt=media&token=ad40174d-26d1-406d-9fca-abf1cf6378cc" alt="">
          
          <!-- segundo -- -->
              <div class="bg-light min-vh-100 py-2" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
                <div fxFlex="10" class="bg-warning p-">
          
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reprehenderit, doloribus architecto voluptate
                    quisquam dolor laudantium repudiandae quaerat illo, dolores dolore eaque tempora pariatur eum quam minima
                    excepturi optio doloremque.</p>
                </div>
                <div fxFlex="45" class="bg-info">
                  <h2>hola</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui laborum porro sit possimus fugit
                    blanditiis labore explicabo, quod tenetur?</p>
          
                </div>
                <div fxFlex="45" class="bg-info">
                </div>
              </div>
</section>

    <!-- <div class="inicio min-vh-50 pb-2" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
      <div fxFlex="30" class="bg-warning">
        <img class="img-fluid" src="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae reprehenderit, doloribus architecto voluptate
          quisquam dolor laudantium repudiandae quaerat illo, dolores dolore eaque tempora pariatur eum quam minima
          excepturi optio doloremque.</p>
      </div>
      <div fxFlex="30" class="bg-info">
        <h2>hola</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur qui laborum porro sit possimus fugit
          blanditiis labore explicabo, quod tenetur?</p>
        <img class="img-fluid" src="">
      </div>
      <div fxFlex="30" class="bg-info">
        <img class="img-fluid" src="">
      </div>
    
    </div> -->
