
/* .inicio {
  background-color: #fd2316;
  background-image: linear-gradient(160deg, #fd2316 0%, #ff7d01 100%);

} */


mat-grid-tile {
  background: lightblue;
}

.card{
border-radius: 20px;
padding: 20px;
}

.pag-inicio{
  background-color: darkslategray;

  padding: 10px;
}