<!-- <div id="CAR2" class="CAR22 col-12 col-md-6 carousel slide p-0" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#CAR2" data-slide-to="0" class="active"></li>
        <li data-target="#CAR2" data-slide-to="1"></li>
        <li data-target="#CAR2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cmb-2.webp?alt=media&token=bc5d4cae-4020-441a-8984-93551d6b50e2" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <a class="btn btn-warning" href="" role="button">ver
                    productos</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cmb-1.webp?alt=media&token=6f9b67fa-12f2-4117-aaa4-fe8b2eaf051a" class="d-block w-100" alt="parrillada">
            <div class="carousel-caption">
                <h2 class="text-capitalize text-ligth">
                    Chorizo parrillero
                </h2>
                <a class="btn btn-warning" href=""
                    role="button">ver productos</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cmb-3.webp?alt=media&token=5070f84c-9f92-428d-a63b-c5b1e2c90bdb" class="d-block w-100" alt="Tocino ahumado">
            <div class="carousel-caption">
                <h2 class="text-capitalize text-ligth">
                    Tocino ahumado
                </h2>
                <a class="btn btn-warning" href="" role="button">ver
                    producto</a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#CAR2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#CAR2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div> -->
<div class="row align-items-center">

  <div class="col-12 col-lg-6 col-md-6 py-3 text-center">
  
    <p class="fs-1">Los mejores <br> productos</p>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide car1 py-3 col-12 col-lg-6 col-md-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cmb-3.webp?alt=media&token=5070f84c-9f92-428d-a63b-c5b1e2c90bdb" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cmb-2.webp?alt=media&token=bc5d4cae-4020-441a-8984-93551d6b50e2" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cmb-1.webp?alt=media&token=6f9b67fa-12f2-4117-aaa4-fe8b2eaf051a" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
