<div class="inicio min-vh-50 py-5 bg-light" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
    <div fxFlex="30" fxLayoutAlign="center center" fxLayout="column">
        <img class="img-fluid"
            src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/footer-benefit-pick-store.png?alt=media&token=18177c62-9f8d-40e2-a89d-e7ed9c792617">
        <p class="text-center pt-3 text-secondary fs-4 fw-bold">Entrega en <br> su local</p>
    </div>
    <div fxFlex="30" fxLayoutAlign="center center" fxLayout="column">
        <img class="img-fluid"
            src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/footer-benefit-delivery.png?alt=media&token=ea0630a0-81ee-44a4-9caf-7667d0ea747c">
        <p class="text-center pt-3 text-secondary fs-4 fw-bold">Delivery programado</p>
    </div>
    <div fxFlex="30" fxLayoutAlign="center center" fxLayout="column">
        <img class="img-fluid"
            src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/footer-benefit-delivery-express.png?alt=media&token=c513e150-a4cf-498b-a68a-5cd41ee66655">
        <p class="text-center pt-3 text-secondary fs-4 fw-bold">Delivery Express</p>
    </div>




</div>