<!-- <p fxLayoutAlign="center" class="m-0 fs-2 pb-lg-3 h3 pb-sm-1">lineas de productos</p> -->

<div class="container shadow-sm py-2">
    <p fxLayoutAlign="center" class="pt-1 fw-light h4">Seleccione una linea:</p>
    <div class="col-12 text-center">
        <button *ngFor="let categoria of categorias" [class]="getClaseCSS( categoria )"
            (click)="activaCategoria( categoria )">
            {{categoria}}
        </button>
    </div>
</div>

<p class="text-center pt-lg-3 text-dark fs-3 m-2">Linea de producto:
    <strong>
        {{categoriaActiva | titlecase}}
    </strong>
</p>



<mat-grid-list cols=1 *ngIf="!productos; else listado">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #listado>

    <div>
        <div>
            <app-producto-tarjeta-categoria [productos]="productos"></app-producto-tarjeta-categoria>
        </div>
    </div>

</ng-template>


<!-- <div class="pb-2 col-12"  fxLayout="row wrap"  fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
                <div fxFlex="20">
                </div>
            </div> -->