<div class="container">
    <div class="align-items-center row px-2">
        <div class="col-12">
            <div id="carouselHistoria" class="carousel slide carousel-fade  car1 py-3 col-12" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselHistoria" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselHistoria" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselHistoria" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/bon%20gusto%20logo%2014.jpg?alt=media&token=d578334a-4632-4858-af31-8ce7f576804b"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/fundadores.png?alt=media&token=01cb41ee-4b61-4496-b0e6-2cd23c147566"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/expoteco2.jpg?alt=media&token=360db7e2-250a-4a5f-a82e-995a4c62b9b0"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselHistoria"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselHistoria"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12  py-3 px-lg-5 px-sm-0 text-lg-end">
            <h2 class="pt-4 fs-1 text-lg-end text-sm-center">
                Historia
            </h2>
            <p>
                Bon gusto nace como una iniciativa familiar fundada por el Sr. Alejandro Quisbert y la Sra. Esperanza
                Burgoa
                en el año 2003, comenzando con la producción de chorizo parrillero, tocino ahumado y jamón, esto gracias
                a
                los
                conocimientos en embutidos por parte de los fundadores y distribuyendo estos productos inicialmente en
                el
                departamento de La Paz y posteriormente en el mercado nacional.
                <br>
                La constante superación y búsqueda un sabor único y diferente es lo que permite el crecimiento de la
                empresa,
                brindando a sus clientes una gran variedad de productos manteniendo la calidad una gama de productos
                diversificados.
            </p>
        </div>
    </div>
</div>