h2 {
font-family: 'Snippet', sans-serif;
  font-weight: 400;
}

p {

  font-family: 'Snippet', sans-serif;
  font-weight: 400;
}
.innerz2 {
    overflow: hidden;
  
  }
  
  .innerz2 div {
    transition: all 1.5s ease;
  }
  
  .innerz2:hover div {
    transform: scale(1.15);
    filter: brightness(0.85);
  }

.texto-info{
  color: #014e88;
}