<div class="row px-lg-5 container-fluid justify-content-center text-dark text-center">
    <h2 class="fs-1 p-5 text-center">¿Por qué Bon Gusto?</h2>
    <div class="innerz2 col-12 col-md-6 col-lg-4 col-xxl-3 cons py-4">
      <div>
        <i class="py-4 fas fa-hotdog h2"></i>
        <p class="h3 fw-bold">Carne selecionada</p>
        <p class="px-2">
          Nuestros embutidos están elaborados con la mejor carne seleccionada lo
          que
          garantiza la calidad de los productos.
        </p>
      </div>
    </div>
    <div class="innerz2 col-12 col-md-6 col-lg-4 col-xxl-3 cons py-4">
      <div>
        <i class="py-4 fas fa-thumbs-up h2"></i>
        <p class="h3 fw-bold">Sabor unico</p>
        <p class="px-2">
          Nuestro delicioso sabor nos hace únicos y diferentes como tú.
        </p>
      </div>
    </div>
    <div class="innerz2 col-12 col-md-6 col-lg-4 col-xxl-3 cons py-4">
      <div>
        <i class="py-4 fas fa-check h2"></i>
        <p class="h3 fw-bold">Confianza</p>
        <p class="px-2">
          Porque estamos más de una década en el mercado nacional abasteciendo a los diferentes
          canales de
          venta con nuestros productos.
        </p>
      </div>
    </div>
    <div class="innerz2 col-12 col-md-6 col-lg-4 col-xxl-3 cons py-4">
      <div>
        <i class="py-4 fas fa-money-bill-alt h2"></i>
        <p class="h3 fw-bold">Precio</p>
        <p class="px-2">
          Dale mayor valor a tu dinero y obtén mayor calidad a un menor precio.
        </p>
      </div>
    </div>
    <div class="innerz2 col-12 col-md-6 col-lg-4 col-xxl-3 cons py-4">
      <div>
        <i class="py-4 fa fa-industry -alt h2"></i>
        <p class="h3 fw-bold">Consume lo nuestro</p>
        <p class="px-2">
          Producto nacional 100% Boliviano, apoya a los nuestros.
        </p>
      </div>
    </div>
  </div>
