.marcapie {
    height: 12rem;
    display: block;
    margin: 0 auto;

  }

  div{
    color: white;


        font-family: 'Fredoka', sans-serif;
        font-weight: 400;

    
}

p {
  color: white;


      font-family: 'Fredoka', sans-serif;
      font-weight: 400;

  
}