button:hover {
  cursor: pointer;
  color: #ee2e0c;
  transition: 0.2s;
}

.social:hover {
  cursor: pointer;
  color: #ee2e0c;
  transition: 0.2s;
}

.bg-naranja {
  background: rgb(236, 233, 230);
  background: linear-gradient(
    to right,
    rgba(255, 36, 23, 1) 0%,
    50%,
    rgba(255, 125, 0, 1) 100%
  );
  border-radius: 15px;
  color: whitesmoke;
}


