<div class="container-fluid min-vh-25 bg-naranja">
    <section class="row justify-content-center">
        <div class="div col-lg-3 col-md-5 col-sm-12 align-items-center py-2">
            <app-piecard></app-piecard>
        </div>
        <div class="div col-lg-3 col-md-5 col-sm-12 align-items-center py-2">
            <app-contacto-pie></app-contacto-pie>
        </div>
        <div class="div col-lg-3 col-md-5 col-sm-12 align-items-center py-2">
            <app-redes></app-redes>
        </div>
        <div class="col-12 bg-dark text-white text-center text-capitalize">
            <span class="far fa-copyright"></span>
            <span>{{_servicio.info.nombre}} </span>
            <span>{{anio}} </span>
            <span>All rights reserved. | <a href="">Descarga</a> nuestros logos oficiales</span>
        </div>
    </section>
</div>