h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  color: #240d09;

}

.pag-inicio {
  background: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 60vh;
  align-items: center;
  display: block;
  margin: auto;
}
.desborde {
  padding-top: 20vh;
}
.mat-card {
  border-radius: 10px;
  background-color: whitesmoke;
}

.pag-dos {
  margin-top: 20px;
  background-color: #fe7235;
  min-height: 60vh;
}
mat-grid-tile img {
  background-size: cover;
  background-clip: content-box;
  display: block;

  background-color: whitesmoke;
}

mat-card-title{
  font-weight: 500;
  color: #fe7235;
}

.tarjetas{
  background-color: royalblue;
}

