

  <div class="pag-inicio py-2 m-0" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center"
    fxLayoutAlign.sm="center" fxLayoutGap="10px">
    <div fxFlex="50" fxFlex.sm="30">
      <p class="m-4 fs-3 "  fxLayoutAlign="center center">Variedad de mortadelas</p>
      <mat-card class="py-1 bg-white">
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fcervezero-_2_.webp?alt=media&token=a9a59040-36f7-4ade-90da-4d316fb1df72"
                  alt="cervecero">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fcazador1.webp?alt=media&token=8eda7c00-fb54-4b95-be0b-58c3550e82cc"
                  alt="cazador">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Flioneza-p.webp?alt=media&token=ea29939c-33ce-4b07-8318-a9bb1692ec11"
                  alt="lionesa">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2FLIONEZA-TOCINO-NUEVO.webp?alt=media&token=363dd8b0-403b-4b4c-9285-4c30eca6bd5a"
                  alt="lioneza con tocino">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fprimavera.webp?alt=media&token=5cd7aa48-76cf-4b26-a7c4-6a03add27a07"
                  alt="primavera">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Ftipo-salame-2.webp?alt=media&token=5c80a465-7394-4be5-b1bf-cd004a25774a"
                  alt="tipo salame">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fpicante108.webp?alt=media&token=2a71af71-0938-437e-925f-fff5bb3b75bb"
                  alt="picante">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fpastel.webp?alt=media&token=84e60c02-293e-4b8b-a63b-c0d60969d118"
                  alt="pastel">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset bg-dark" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fpollo-cazador.webp?alt=media&token=322697af-ceea-49ab-a8eb-85c5abfd6896"
                  alt="pollo verdura">
              </a>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-card-content>
      </mat-card>
    </div>
  


    <div fxFlex="40" fxFlex.sm="30">
      <p class="fs-3  m-4 "  fxLayoutAlign="center center">Salchicha viena</p>
      <mat-card class="py-1 bg-white">
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset" routerLink="/productos">
                <img mat-card-image
                  src="https://apiproductos.blob.core.windows.net/promos/44.jpg"
                  alt="Salchicha viena bg">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset" routerLink="/productos">
                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cocktel.jpg?alt=media&token=998cec9a-0896-4e4e-a9d2-46523fe41926"
                  alt="Salchicha ahumada">
              </a>
            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset" routerLink="/productos">

                <img mat-card-image
                  src="https://apiproductos.blob.core.windows.net/promos/73.jpg"
                  alt="Salchicha con piel">
              </a>

            </mat-grid-tile>
            <mat-grid-tile>
              <a class="p-0 nav-link text-reset" routerLink="/productos">

                <img mat-card-image
                  src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/salchicha%20bock.png?alt=media&token=c8c5b8f6-94b5-4b64-941d-6857c4bb15f6"
                  alt="salchicha book">
              </a>

            </mat-grid-tile>
          </mat-grid-list>

        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="container my-1 p-0">
    <div class="row m-0">
      <div class="col-6 col-lg-4 my-2">
        <p class="fs-3 m-4 "  fxLayoutAlign="center center">Queso de cerdo</p>
        <mat-card class="bg-white">

          <a class="nav-link text-reset" routerLink="/productos">
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fqueso-sandwichero-web.webp?alt=media&token=be9c0378-e8ee-4305-af9e-dfb94fb17906"
              alt="Queso de cerdo">
          </a>
        </mat-card>
      </div>
      <div class="col-6 col-lg-4 my-2">
        <p class="fs-3 m-4 "  fxLayoutAlign="center center">Pepperoni americano</p>
        <mat-card class="bg-white">
          <a class="nav-link text-reset" routerLink="/productos">
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fpepperoni%20web.webp?alt=media&token=a0c7727f-df39-4021-84f0-7157925b5265"
              alt="Pepperoni">
          </a>

        </mat-card>
      </div>

      <div class="col-6 col-lg-4 my-2">
        <p class="fs-3 m-4 "  fxLayoutAlign="center center">Chorizo pre cocido</p>
        <mat-card class="bg-white">

          <a class="nav-link text-reset" routerLink="/productos">
            <img mat-card-image
              src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fprecocido-ahumado.webp?alt=media&token=4ed61610-49fe-4dd0-a01f-e804b8e224fe"
              alt="precocido ahumado">
          </a>
        </mat-card>
      </div>

    </div>
  </div>

