.sj {
    color: #ff7d01;
}

.sj2 {
    color: #ff3c11;
}

.textjs {
    font-family: 'Englebert', sans-serif;
}

.tableau {
    font-family: 'Caudex', serif;
}

mat-card{

    background-color:beige
}

button:hover{
    color: crimson;
    background-color: aliceblue;

}