<mat-list>
    <div mat-header class="text-center h3 p-2">Contacto</div>
    <mat-divider></mat-divider>
    <div>
        <mat-list-item>
            <mat-icon mat-list-icon class="social">
                <a href="tel:+59169900944" target="_blank" class="text-reset"
                    onclick="return(navigator.userAgent.match(/Android | iphone | movile /i)) != null;">
                    <span class=" fs-2 material-icons">
                        dialer_sip
                    </span>
                </a>
            </mat-icon>
            <div mat-line>
                <strong class="h5">
                    {{_servicio.info.central}}
                </strong>
            </div>
            <div mat-line>Central telefonica</div>
            <div mat-line>Ventas interno: {{_servicio.info.interno_ventas}}</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon class="social">
                <a href="https://wa.me/+59169900944?text=Hola%20estoy%20interesado%20en%20los%20productos%20Bon%20Gusto%20msjw"
                    target="_blank" class="text-reset">
                    <span class="fab fa-whatsapp fa-lg"></span>
                </a>
            </mat-icon>
            <div mat-line>
                <strong class="h5">
                    {{_servicio.info.central}}
                </strong>
            </div>
            <div mat-line>WhastApp ventas</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon class="social">
                <a href="https://wa.me/59177779389?text=Hola%20estoy%20interesado%20en%20los%20productos%20Bon%20Gusto%20msjw"
                    target="_blank" class="text-reset">
                    <span class="fab fa-whatsapp fa-lg"></span>
                </a>
            </mat-icon>
            <div mat-line>
                <div class="strong h5">
                    {{_servicio.info.celular_alex}}
                </div>
            </div>
            <div mat-line>WhastApp consultas</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon class="social">
                <a href="mailto:ventas@bongusto.com.bo?Subject=Estoy%20interesado%20en%20los%20productos%20Bon%20Gusto"
                    target="_blank" class="text-reset">
                    <span class="fa fa-envelope fa-lg"></span>
                </a>
            </mat-icon>
            <div mat-line>{{_servicio.info.email}}</div>
            <div mat-line>Email</div>
        </mat-list-item>
    </div>
</mat-list>