<div id="carouselExampleIndicators" class="carousel slide car1 py-3 col-lg-12 col-md-12 col-12" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/IN%20LINE%20PORTADA%2F3.jpg?alt=media&token=52acc995-502f-4583-b739-f06dc3ed7144"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/IN%20LINE%20PORTADA%2F1.jpg?alt=media&token=2879522a-6478-4efd-9a5d-b0cb45bfa64d"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/IN%20LINE%20PORTADA%2F2.jpg?alt=media&token=762df98a-abf7-4936-8240-62c1f6a44223"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
