<div id="carouselExampleIndicators" class="carousel slide car1 py-3 col-lg-12 col-md-12 col-12" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/tarjeta%20mortadelas%2Fcel23_25.webp?alt=media&token=9b8e94d3-bc65-4b34-af9e-183dd0fdd711"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/2.png?alt=media&token=d5c8e3aa-74cb-4a1a-a620-88af01fb6131"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/3.png?alt=media&token=4a2e5a47-4365-4517-8826-05b225d6094b"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
