<div class="hero-image-contacto">
    <div class="container contacto">
        <!-- <h2><span>un gusto diferente</span></h2> -->
    </div>
</div>
<div class="container align-self-center my-3">
    <div class="row ">
        <div class="col-12">
            <mat-card class="ayuda mx-auto">
                <mat-card-title class="text-center fs-3 pb-4">
                    ¿Cómo podemos ayudarte?
                </mat-card-title>
                <mat-card-subtitle class="fs-5">
                    Nos encantaría ayudarte en tu proceso de compra o brindarte mayor información sobre nuestros
                    productos, contáctanos.
                </mat-card-subtitle>
                <mat-card-content class="fs-5 py-2">
                    <p>
                        <strong class="fw-bold">
                            Central telefonica:
                        </strong>
                        <a href="tel:+59169900944" target="_blank" class="text-reset"
                            onclick="return(navigator.userAgent.match(/Android | iphone | movile /i)) != null;">
                            69900944
                        </a>
                        <small>
                            interno: 10
                        </small>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</div>

<app-hablanos></app-hablanos>