<div class="hero-image-contacto">
    <div class="container contacto">
        <!-- <h2><span>un gusto diferente</span></h2> -->
    </div>
</div>
<div class="container align-self-center my-3">
    <div class="row ">
        <div class="col-12">
            <mat-card class="ayuda mx-auto">
                <mat-card-title class="text-center fs-3 pb-4">
                    ¿Cómo podemos ayudarte?
                </mat-card-title>
                <mat-card-subtitle>
                    Nos encantaría ayudarte en tu proceso de compra o brindarte mayor información sobre nuestros
                    productos, contáctanos.
                </mat-card-subtitle>
                <mat-card-content class="fs-5 py-2">
                    <p>
                        <strong class="fw-bold">
                            Central telefonica:
                        </strong>
                        <a href="tel:+59169900944" target="_blank" class="text-reset"
                            onclick="return(navigator.userAgent.match(/Android | iphone | movile /i)) != null;">
                            69900944
                        </a>
                        <small>
                            interno: 10
                        </small>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="bg-light col- shadow" style="border-radius: 10px;">
            <p class="text-center fs-5 p-1 m-0 p-md-4">
                O contáctanos mediante nuestros WhatsApp para hacernos llegar tu mensaje directo.
            </p>
        </div>
    </div>
</div>
<div class="container">
        <div class="row justify-content-evenly py-5 m-5">
            <div class="col-md-6 col-lg-4 col-12">
                <mat-card class="example-card shadow">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-icon mat-list-icon class="social">
                            <a href="https://wa.me/59169900944?text=Hola%20estoy%20interesado%20en%20los%20productos%20Bon%20Gusto%20msjw"
                                target="_blank" class="text-reset">
                                <span style="font-size: 30px">
                                    <i class="fab fa-whatsapp fa-lg"></i>
                                </span>
                            </a>
                        </mat-icon>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed | ventas lp</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-md-6 col-lg-4 col-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
</div>