<div class="col">
    <div class="row">
        
        <div class="col-12 col-md-8 p-4 text-center">
            <!-- imagen conversar-->
            <h2 class="text-uppercase">
                Contacto
            </h2>
            <p class="text-muted">
                En Bon gusto trabajamos para brindar el mejor servicio posible para la atención a nuestros
                clientes.
                Si tiene alguna consulta, no dude en contactarnos por alguna de las siguientes vías:
            </p>
        </div>

    </div>
</div>


