.navbar {
  background: rgb(236, 233, 230);
  background: linear-gradient(
    to right,
    rgba(255, 36, 23, 1) 0%,
    50%,
    rgba(255, 125, 0, 1) 100%
  );
}

button{
  background: rgb(236, 233, 230);
  background: linear-gradient(
    to right,
    rgba(255, 36, 23, 1) 0%,
    50%,
    rgba(255, 125, 0, 1) 100%
  );

}

.objetfit > img{
  width:  80px;
	height: 80px;
  padding: 0;
	object-fit: cover;
}

.navbar-ligh {
  color: red;
}

.sticky-top {
  position: sticky;
  top: -0.25rem;
}

.cool::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background: #ffffff;
  transition: width 0.3s;
}
.cool:hover::after {
  width: 100%;
  transition: width 0.3s;
  color: black;
}
.color-nav {
  color: whitesmoke
}
