<nav class="navbar navbar-expand-lg navbar-dark nbar">
    <div class="container">
      <img class="navbar-brand" routerLink="inicio" height="50px" src="assets/imagenes/bongustoline.svg" alt="Logo bon gusto"  routerLink="inicio">
      <button mat-mini-fab color="warn"   class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="inicio">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="productos">PRODUCTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="encuentranos">ENCUENTRANOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto">CONTACTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="eventos">EVENTOS</a>
          </li>
        </ul>
        
      </div>
    </div>
</nav>