<nav class="navbar navbar-expand-lg navbar-dark nbar ">
    <div class="container">
      <img class="navbar-brand" routerLink="inicio" height="50px" src="assets/imagenes/bongustoline.svg" alt="Logo bon gusto">
      <!-- <a class="navbar-brand" href="#">bon gusto</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="inicio">inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="productos">productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="encuentranos">encuentranos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto">contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="eventos">eventos</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>