

<nav class="navbar navbar-dark nbar navbar-expand-md bg-faded justify-content-center">
  <div class="container">
    <img class="navbar-brand d-flex w-0 me-auto" routerLink="inicio" height="50px"
  src="assets/imagenes/bongustoline.svg" alt="Logo bon gusto" routerLink="inicio">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="inicio">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="productos">PRODUCTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="encuentranos">ENCUENTRANOS</a>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="contacto">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="nosotros">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-6" routerLink="eventos">EVENTOS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>