<p fxLayoutAlign="center" class="m-2 fs-2 h3">Buscar productos</p>

<div fxLayout="column" class="container  bg-info col-12">
    <div class="bg-warning my-1" fxLayout="column" >
        <mat-form-field>
            <mat-label>buscar producto</mat-label>
            <input type="text" placeholder="Escriba aqui" aria-label="Number" matInput [(ngModel)]="termino"
                [matAutocomplete]="auto" (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="opcionselecionada( $event )">
                <mat-option *ngFor="let item of items" [value]="item">
                    {{ item.producto_Nombre }}
                </mat-option>
                <mat-option value="" *ngIf="items.length === 0 && termino.trim().length > 0 ">
                    no se encontro el producto que busca
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="col-sm-5 bg-dark p-2 align-self-center col-lg-3 col-md-3" *ngIf="productoSelecionado">
        <app-producto-tarjeta [producto]="productoSelecionado"></app-producto-tarjeta>
    </div>
</div>