<div fxLayout="column" class="container col-3 p-lg-3">
    <div>
        <h1 class="text-center">buscar producto</h1>
        <mat-divider></mat-divider>
    </div>
    <div class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>buscar producto</mat-label>
            <input  type="text"
                    placeholder="Escriba aqui"
                    aria-label="Number"
                    matInput
                    [(ngModel)]="termino"
                    [matAutocomplete]="auto"
                    (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let item of items" [value]="item.producto_Nombre">
                {{ item.producto_Nombre }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </div>
</div>

