
<div class="py-2">
    <p fxLayoutAlign="center" class="pt-1 fw-light h4">Buscar producto</p>
</div>


<div fxLayout="column" class="container col-12 p-1 mb-3">
    <div class="my-1" fxLayout="column" >
        <mat-form-field color="warn">
            <mat-label>buscar producto</mat-label>
            <input type="text" placeholder="Escriba aqui" aria-label="Number" matInput [(ngModel)]="termino"
                [matAutocomplete]="auto" (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="opcionselecionada( $event )">
                <mat-option *ngFor="let item of items" [value]="item">
                    {{ item.producto_Nombre }}
                </mat-option>
                <mat-option value="" *ngIf="items.length === 0 && termino.trim().length > 0 ">
                    no se encontro el producto que busca
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="ancho p-2 align-self-center" *ngIf="productoSelecionado">
        <app-producto-tarjeta [producto]="productoSelecionado"></app-producto-tarjeta>
    </div>
</div>