.hero-image-eventos {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2F5574683_1.webp?alt=media&token=85bc3511-3ad1-4157-85ac-f071782aeaca")
  no-repeat center;
  background-size: cover;
  border-radius: 15px;
}
p{
  padding: 1rem;
}


.tarjeta-video{
  border-radius: 15px;
}
.caption-video{
  border-radius: 0px 0px 15px 15px;
}

.titulo-video{
  font-size: large;
  color: #008b8b;
}

div p{
  margin-bottom: 0;
}

.tuclase {
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 35px; 
  color: #fff; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  }