
<h2>Listado de productos</h2>

<form class="d-flex col-3">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>

<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap"
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="1rem"
>

<div fxFlex="30"
     fxFlex.lg="20"
     fx
     *ngFor="let producto of productos"
>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                <h3>
                    {{ producto.Grupo_menor | titlecase }}
                </h3>
                </mat-card-title>
                <mat-card-subtitle>{{producto.Presentacion | titlecase}} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/productos/imagen_ref.jpg">
            <mat-card-content>
                <h3>Codigo:
                    <strong>
                    {{producto.Cod_Item_PF}} 
                    </strong>
                </h3>
                <p>Peso aproximado:
                    {{producto.Factordepeso}} kg.
                </p>
            </mat-card-content>
            <mat-card-actions>

                
                <button mat-raised-button color="accent">
                    more info
                </button>
            </mat-card-actions>
        </mat-card>
</div>

</div>



