<h2 fxLayoutAlign="center" class="bg-dark text-light m-0 fs-2 py-lg-3 py-sm-1">lista de productos</h2>

<mat-grid-list cols=1 *ngIf="!productos; else listado">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>


<ng-template #listado >
    <div class="bg-dark" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
        <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let producto of productos">
            <app-producto-tarjeta [producto]="producto"></app-producto-tarjeta>
        </div>
    </div>


</ng-template>

<!-- <div class="container">
    <div class="col-12 py-lg-4 py-md-1">
        <app-producto-tabla [productos]="productos"></app-producto-tabla>

    </div>

</div> -->