<div class="container-fluid bg-dark py-sm-1 " fxLayout="column" fxLayoutAlign="center">
    <h2 class="text-light text-center py-4 fs-1 text-u" fxLayoutAlign="center">
        Puntos de venta
    </h2>
    <p class="text-white text-center">Puedes encontrarnos en los los puntos de venta mas representativos de tu ciudad, si quieres encontrar un punto de venta más cercano a tu ubicación déjanos un mensaje que te atendemos a la brevedad posible.</p>

</div>

<app-menu>
</app-menu>
    
<router-outlet></router-outlet>


