<div class="container-fluid pve" fxLayout="column" fxLayoutAlign="center">
    <p class="text-center py-4 fs-1 text-u" fxLayoutAlign="center">
        Puntos de venta
    </p>
    <p class="text-center fw-light h4 py-1 mb-2 px-lg-4">
        Puedes encontrarnos en los los puntos de venta mas representativos de tu ciudad.
    </p>
</div>

<div class="col justify-content-center bg-dark">
    <button type="button" class="btn btn-warning" id="lp">La Paz</button>

    <button type="button" class="btn btn-warning" id="ea">El Alto</button>

    <button type="button" class="btn btn-warning" id="via">Viacha</button>

    <button type="button" class="btn btn-warning" id="or">Oruro</button>

    <button type="button" class="btn btn-warning" id="cb">Cochabamba</button>

    <button type="button" class="btn btn-warning" id="pt">Potosi</button>
</div>

<div class="px-3 bg-light m-1 py-2">
    <app-mapa-pop></app-mapa-pop>
</div>
<!-- <app-menu></app-menu>

<div class="my-4 shadow-sm bg-light p-3" style="border-radius: 15px;">
    <router-outlet></router-outlet>
</div> -->