  <table class="table bg-dark text-light shadow py-3">
      <thead>
        <tr>
          <th style="width: 60px;" scope="col">Codigo</th>
          <th class="text-center" style="width: 125px;;" scope="col">Imagen</th>
          <th scope="col">Producto</th>

          <th style="width: 90px;" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <th style="width: 60px;" scope="row"> <p class="text-center">{{producto.cod_Item_PF}}</p> </th>
          <th> <img class="p-0 m-0" style="width: 120px;" mat-card-image src="assets/productos/imagen_ref.jpg"></th>    
          <td>{{producto.menor_Nuevo| titlecase}}<br> <small class="text-info mt-2"> Presentacion:</small><br>{{producto.presentacion| titlecase}}</td>
          <td style="width: 90px;">
              <a class="link-secondary" [routerLink]="['/productos', producto.cod_Item_PF]">más detalles</a>
          </td>
        </tr>
      </tbody>
  </table>
