<mat-list>
    <div mat-header class="text-center h3 p-2">Redes sociales</div>
    <mat-divider></mat-divider>
    <div class=" text-center pt-1">
        <button mat-icon-button>
            <mat-icon mat-list-icon>
                <a href="{{_servicio.info.facebook}}" target="_blank" class="text-reset ">
                    <span class="fa fa-facebook-square fa-lg "></span>
                </a>
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon mat-list-icon>
                <a href="{{_servicio.info.instagram}}" target="_blank" class="text-reset">
                    <span class="fab fa-instagram fa-lg"></span>
                </a>
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon mat-list-icon>
                <a href="{{_servicio.info.tiktok}}" target="_blank" class="text-reset">
                    <i class="fab fa-tiktok fa-lg"></i>
                </a>
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon mat-list-icon>
                <a href="{{_servicio.info.youtube}}" target="_blank" class="text-reset">
                    <i class="fa fa-youtube-play fa-lg"></i>
                </a>
            </mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon mat-list-icon>
                <a href="{{_servicio.info.twitter}}" target="_blank" class="text-reset">
                    <i class="fa fa-twitter fa-lg"></i>
                </a>
            </mat-icon>
        </button>
    </div>
</mat-list>
<br>
<br>
<br>
<div class="m-4">

    <p>
        <button type="button" class="btn btn-light btn-sm"><a class="text-reset" target="_blank" href="https://drive.google.com/file/d/1tPypVEWCtso2t_HP0UpZsWYuycmCEWM8/view?usp=sharing"> 
                <strong>
                    Descarga
                </strong>
            </a></button>
        <strong>
            nuestros logos oficiales
        </strong>
    </p>
</div>