<div class="container p-lg-2  p-1">
    <div class="row justify-content-center">
        <div class="col-8 py-1" >
            <h2 class="text-center">Oferta combos San Juan 2022</h2>
            <p class="text-center">
                En san juan disfruta el delicioso sabor de las salchichas y chorizos bon gusto, busca nuestros packs y disfrútalos como más te gusten.
                <!-- <br>
                <br>
                Modo de Conservación:
                <br>
                Refrigerada entre 0 y 5 grados centigrados. -->
            </p>

        </div>
        <div class="col-12 col-lg-6 col-md-6">
            <img class="img-fluid" style="max-width: 400px;" src="https://apiproductos.blob.core.windows.net/promociones/combo8.jpg"
                alt="">
        </div>
        <div class="col-12 col-md-6 col-lg-6" >
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Precio sugerido</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">173</th>
                        <td>Combo 12</td>
                        <td>26</td>
                        <td>12 salchichas de 14 cm</td>
                    </tr>
                    <tr>
                        <th scope="row">174</th>
                        <td>Combo 8</td>
                        <td>26</td>
                        <td>8 salchichas de 21 cm</td>
                    </tr>
                    <tr>
                        <th scope="row">175</th>
                        <td>Combo super</td>
                        <td>35</td>
                        <td>12 salchichas extralargas de 21 cm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>