
<div
    class="container grupo shadow-lg"
    fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="30px"
     >
     <div class="info" fxFlex="50">

                <h1 class="fs-3">Lorem, ipsum dolor.</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni sequi aspernatur
                    perferendis voluptates necessitatibus id placeat provident incidunt sunt alias?
                <br>
                <br>
                Modo de Conservación:
                <br>
                Refrigerada entre 0 y 5 grados centigrados.
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
     </div>
     <div fxFlex="50">
        <img src="https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/cocktel.jpg?alt=media&token=998cec9a-0896-4e4e-a9d2-46523fe41926" alt="">
     </div>

</div>