h1{
  height: 5rem;
  text-align: center;
}
.descripcion{
  height: 10rem;

}
p{
  font-style: italic;
  font-size: 18px;
}
.grupo {
  margin-top: 2rem;
  padding: 1rem;
  background-color: blueviolet;
}