<div class="cuadros">

    <app-prodsj></app-prodsj>

    <div    fxLayout="row wrap"
            class="animate__animated animate__fadeIn"
            fxLayoutAlign="space-evenly start" 
            fxLayoutGap="10px"
            >
                <div 
                    fxFlex="20"
                    fxFlex.lg="20"
                    fxFlex.sm="30"
                    fxFlex.xs="50"
                    *ngFor="let producto of productos"
                    class="py-3 m-0 container"
                    >
                    
                    <mat-card class=" mat-elevation-z8 animate__animated animate__fadeIn">
                        <img mat-card-image src="https://apiproductos.blob.core.windows.net/promos/{{producto.codigodeItem}}.jpg">
                        <mat-card-content>
                            <h4 class="tableau">
                                <span class=" fw-bolder">
                                    {{ producto.nombreProducto }}
                                </span>
                            </h4>
                            <hr>
                            <h5 class="tableau">
                                {{producto.unidades}} salchichas de {{producto.tamanoCm}}cm Aprox.
                                <br>
                                <span class="fw-bolder">
                                    Precio sugerido:
                                </span>
                                {{producto.PrecioFinal|number: '1.00'}} Bs.
                                <br>
                                <span class="fw-bolder">
                                    Codigo producto:
                                </span>
                                {{ producto.codigodeItem|number: '3.0' }}
                            </h5>
                        </mat-card-content>
                    </mat-card>
                </div>
    </div>
<hr>
<app-sjpuntos></app-sjpuntos>
<hr>
<div class="py-2">
    <div class="row justify-content-center">
        <div class="col-8">
            <p class="textjs text-center fw-light h3 mb-2 px-lg-4">
                <span class="fw-normal fs-1 sj">
                    ¿Pedidos?
                </span>
                ¿consultas?
                <span class="sj2 fw-bold fs-1">
                    escríbenos...
                </span>
                <br>

            </p>
        </div>
    </div>
</div>

<app-hablanos></app-hablanos>

</div>

