h1{
  height: 4rem;
  text-align: center;
  align-items: center;
  color:#240d09;
}

p{
  margin-bottom: 2.5rem;
  font-size: 1.15rem;
  line-height: 1.2;
}
.grupo {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 3rem;
  width: 65%;
  border-radius: 15px;

}
td{
  font-size: 1.15rem;
}
img{
  width: 100%;
}

.info{
  padding-left: 2rem;
  padding-right: 2rem;
}