<div class="hero-image mb-1">
    <div class="container align-self-end">
        <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee10a"></a>
    </div>
</div>

<div class="row m-0">
    <div class="col-md-6 col-6 hero-image2">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0d5"></a>
        </div>
    </div>

    <div class="col-md-6 col-6 hero-image3">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0bd"></a>
        </div>
    </div>

</div>

<div class="row m-0">
    <div class="col-md-4 col-6 hero-image4">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0a0"></a>
        </div>
    </div>
    <div class="col-md-4 col-6 hero-image5">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0a8"></a>
        </div>
    </div>
    <div class="col-md-4 col-12 hero-image6">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee095"></a>
        </div>
    </div>
</div>