<div class="container">
    <div class="row">
        <div class="col-12 p-1">
            <img src="https://apiproductos.blob.core.windows.net/portadas/portada.jpg" class="img-fluid rounded" alt="...">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee095"></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 p-1">
            <img src="https://apiproductos.blob.core.windows.net/portadas/portada0.jpg" class="img-fluid rounded" alt="...">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee095"></a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6 p-1">  
            <a class="p-0 nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0d5">
            <img src="https://apiproductos.blob.core.windows.net/portadas/portada1.jpg" class="img-fluid rounded responsive" alt="...">
            </a>
        </div>
        <div class="col-6 p-1">  
            <a class="p-0 nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0bd">
            <img src="https://apiproductos.blob.core.windows.net/portadas/portada2.jpg" class="img-fluid rounded responsive" alt="...">
            </a>
        </div>
    </div>
</div>
<div class="container pt-1">
    <div class="row">
        <div class="col-4 p-1">
            <a class="p-0 nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0d5">
                <img src="https://apiproductos.blob.core.windows.net/portadas/portada3.jpg" class="img-fluid rounded responsive" alt="...">
                </a>
        </div>
        <div class="col-4 p-1">
            <a class="p-0 nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0d5">
                <img src="https://apiproductos.blob.core.windows.net/portadas/portada4.jpg" class="img-fluid rounded responsive" alt="...">
                </a>
        </div>
        <div class="col-4 p-1">
            <a class="p-0 nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0d5">
                <img src="https://apiproductos.blob.core.windows.net/portadas/portada5.jpg" class="img-fluid rounded responsive" alt="...">
                </a>
        </div>
    </div>
</div>

<!-- 
<div class="row m-0">
    <div class="col-md-4 col-6 hero-image4">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0a0"></a>
        </div>
    </div>
    <div class="col-md-4 col-6 hero-image5">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee0a8"></a>
        </div>
    </div>
    <div class="col-md-4 col-12 hero-image6">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/61d24f9c5ba24066080ee095"></a>
        </div>
    </div>
</div> -->