
    <div class="hero-image">
        <div class="container align-self-end">
                <a class="cool nav-link text-reset" routerLink="/productos/6"></a>
        </div>
    </div>

<div class="row p-1">
    <div class="col-md-6 col-12 hero-image2">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/112"></a>
        </div>
    </div>

    <div class="col-md-6 col-12 hero-image3">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/87"></a>
        </div>
    </div>

</div>

<div class="row p-1">
    <div class="col-md-4 col-12 hero-image4">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/57"></a>
        </div>
    </div>

    <div class="col-md-4 col-12 hero-image5">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/65"></a>
        </div>
    </div>
    <div class="col-md-4 col-12 hero-image6">
        <div class="container">
            <a class="cool nav-link text-reset" routerLink="/productos/46"></a>
        </div>
    </div>

</div>