
.hero-image {
    position: relative;
    height: 70vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fp12021.webp?alt=media&token=13584325-32bc-4854-a0d3-49319d505e8d")

    /* background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/heroimage.webp?alt=media&token=0a3279bb-a718-458e-95da-f1556ccb863c") */
      no-repeat center;
    background-size: cover;
    border-radius: 15px;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: azure;
    font-weight: 700;
  }
  .container h2 {
    font-size: 50px;
    font-family: ubuntu;
    letter-spacing: 0.2em;
  
    margin: 0;
  }
  .container h2 span {
    background: rgba(0, 0, 0, 0.096);
    border-radius: 20px;
    padding: 20px 10px;
    display: inline-block;
  }

