
.hero-image {
    position: relative;
    height: 80vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fsalchichas%20y%20chorizos.jpg?alt=media&token=cdff941b-936b-4119-9198-96c74f5199be")
    /*background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fnavidad%20bon%20gusto.jpg?alt=media&token=7819ef64-2ba9-46d0-8d8e-d277a49584a4")
    /* background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fp12021.webp?alt=media&token=13584325-32bc-4854-a0d3-49319d505e8d") */
    no-repeat center;
    background-size: cover;
    border-radius: 15px;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: azure;
      }

      a:hover{
        cursor: pointer;
      }


  .hero-image2 {
    position: relative;
    height: 40vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fsalchipapa.webp?alt=media&token=7c58ee15-d35c-41cd-b20d-7020d6acb156")
    no-repeat center;
    background-size: cover;
  }
  .hero-image3 {
    position: relative;
    height: 40vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fsandwich-web.webp?alt=media&token=82416efd-9926-40fd-bfdc-49c0247cbccc")
    no-repeat center;
    background-size: cover;
  }
  
  .hero-image4 {
    position: relative;
    height: 40vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fingredientes-pizza.webp?alt=media&token=d5099fda-2b52-456d-8c78-495abaad68aa")
    no-repeat center;
    background-size: cover;
  }
  .hero-image5 {
    position: relative;
    height: 40vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2FBACON-TOCINO.webp?alt=media&token=5b6d51ea-6e88-4eb9-b45c-905c15f58352")
    no-repeat center;
    background-size: cover;
  }

  .hero-image6 {
    position: relative;
    height: 40vh;
    overflow: hidden;
    background: url("https://firebasestorage.googleapis.com/v0/b/angular-html-517d8.appspot.com/o/portadas%2Fgrilled-sausage.webp?alt=media&token=1ae47daf-3233-4909-a2a7-260c307e333c")
    no-repeat center;
    background-size: cover;
  }


a{
  height: 35vh;

  }
